<head>

  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" %>
</head>
<div class="note">
<table><p>
    <th> <td>Title:</td><td>Note:</td></th>
    <tr><td><%= @article.title %></td>
    <td><%= @article.text %></td></tr>

</table>
  <%= link_to 'Back', articles_path %>
</div>

